.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
}
.table-cell,
.table-head {
  display: table-cell;
  padding: 1em;
  border: #f0f0f0 1px solid;
}
.table-head {
  font-weight: bold;
}
.day strong {
  cursor: pointer;
}
#bill h2 span {
  cursor: pointer;
}
#bill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.month {
  width: 50%;
}

#edit {
  color: blue;
  cursor: pointer;
}

#delete {
  color: red;
  cursor: pointer;
}

input[id="consumption"] {
  width: 50px;
}

input[id="price"] {
  width: 110px;
}
